# More info pertaining to PostgreSQL JDBC driver settings
# at https://jdbc.postgresql.org/documentation/use/

# --- SSL ---
ssl=true
sslmode=require
# sslcert=${user.home}/.postgresql/postgresql.crt
# sslkey=${user.home}/.postgresql/postgresql.pk8
# sslrootcert=${user.home}/.postgresql/root.crt

# --- Performance & Caching ---
prepareThreshold=5
preparedStatementCacheQueries=256
preparedStatementCacheSizeMiB=5
defaultRowFetchSize=0
binaryTransfer=true
databaseMetadataCacheFields=65536
databaseMetadataCacheFieldsMiB=5
reWriteBatchedInserts=true # default is false
adaptiveFetch=false
adaptiveFetchMinimum=0
adaptiveFetchMaximum=-1
# maxResultBuffer=                        # null by default (no limit)

# --- Timeouts & Networking ---
loginTimeout=0
connectTimeout=0
socketTimeout=0
cancelSignalTimeout=10
tcpKeepAlive=false
tcpNoDelay=true

# --- Query Execution ---
preferQueryMode=extended
autosave=never
cleanupSavepoints=false
escapeSyntaxCallMode=select

# --- Authentication ---
gssEncMode=allow
gsslib=auto
jaasLogin=true
kerberosServerName=postgres
# authenticationPluginClassName=          # null by default

# --- Misc ---
# ApplicationName=                        # not set by default
# currentSchema=                          # not set by default
# assumeMinServerVersion=                 # not set by default
unknownLength=2147483647
