Package: mercury-client
Version: 0.101.0
Priority: extra
Essential: no
Architecture: all
Depends: java-runtime (>= 17)
Maintainer: Ilias Koukovinis
Homepage: https://github.com/Koukobin/Ermis
Description: CHAT
