Package: ermis-server
Version: 0.99.0
Priority: optional
Essential: no
Pre-Depends: debconf (>= 0.5) | debconf-2.0
Architecture: all
Maintainer: Ilias Koukovinis
Homepage: https://github.com/Koukobin/Ermis
Description: SERVER FOR CHAT
