[Unit]
Description=Ermis-Server
After=network.target

[Service]
User=ermis
WorkingDirectory=/opt/ermis-server/
ExecStart=/bin/bash -c 'cd /opt/ermis-server/ && ./ermis-server.sh'
Restart=always

[Install]
WantedBy=multi-user.target
