# Do NOT set to false on production mode - and ensure 
# /etc/ermis-server/dev.conf does not contain any 
# sensitive info.
isProductionMode=true

sourceCodeURL=https://github.com/Koukobin/Ermis

# This default setting binds the server to all network interfaces.
# However, it also causes issues with the the donation page and
# proper email formatting. 
address=0.0.0.0

port=5551
backlog=0

# in millis (1 min = 60,000)
connectTimeoutMillis=0

# the amount of threads that are gonna handle clients
workerThreads=5

# max number bytes a file sent by client can be
maxClientMessageFileBytes=10485760

# max amount of bytes a simple client text message can be
maxClientMessageTextBytes=512
